body {
    font-family: Georgia, serif;
    background: #acd7ff;
    margin: 0;
    padding: 20px;
}
h2 a {
    color: #003cff;          
    text-decoration: none;   
    margin: 0 15px;
    padding: 8px 12px;
    font-weight: bold;
    transition: 0.3s;
}
h2 a:hover {
    background: rgba(111, 0, 255, 0.15);
    color: rgb(132, 0, 255);
    border-radius: 6px;
    padding: 8px 16px;
}
table {
    width: 100%;
    margin-top: 25px;
}
td {
    vertical-align: top;
    padding: 20px;
}
#home {
    background: #589ef8;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
#home img {
    width: 65%;
    border-radius: 50%;
}
div h3 {
    margin-bottom: 5px;
}
dd {
    margin-left: 20px;
    padding: 4px 0;
}
#about,
#Experiences\ and\ Achievements {
    background: #589ef8;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
}
#message
form {
    background: #589ef8;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
}

input[type="text"],
input[type="email"] {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
}
input[type="submit"] {
    padding: 8px 14px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 6px;
}
input[type="submit"]:hover {
    background: rgb(128, 0, 255); 
}
div p strong {
    font-size: 18px;
}
